src/com/detectorvision/massspectrometry/datacontrol/fileloader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="massspectrometry">
		<xs:annotation>
			<xs:documentation>massspectrometry root node</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="loader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name"/>
							<xs:element name="extention"/>
							<xs:element minOccurs="0" name="description"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
